<%- include('partials/header') %>
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <img src="images/HH logo.jpg" alt="logo" height="100px" width="130px" srcset="">
        <h1 class="text-body-emphasis">EXPRESS AUTHENTIFICATION</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            "Login or Register to visit my new site"      </p>
        <div class="d-inline-flex gap-2 mb-5">
            <a href="/register">
                <button class="btn btn-dark btn-lg px-4 rounded-pill" type="button">
            Register
          </button></a>            
         <a href="/login">
            <button class="btn btn-dark btn-lg px-4 rounded-pill" type="button">
            Login
          </button></a>   
        </div>
      </div>
  <%- include('partials/footer') %>